.sideNav {
    // height: 800px;
    padding: 32px;
    &-logo {
        // margin-bottom: 32px;
    }
    &-user {
        img {
            width: 40px;
            height: 40px;
            border-radius: 24px;          
        }       
        p:nth-last-child(1) {
            font-size: 14px;
            color: #0000009A;
        }
    }
    &-title {
        height: 104px;
    }   
}
.nav-link {
    &--active {
        color: $secondary;
    }
    &:hover {
        color: $secondary;
    }
}