.sideNav {
    min-width: 300px;
    // min-hight: 100vh;
    height: 100%;
    z-index: 3;
    padding: 32px;
    left: 0;
    &-logo {
        margin-bottom: 32px;
    }
    &-user {
        img {
            width: 40px;
            height: 40px;
            border-radius: 24px;          
        }       
        p:nth-last-child(1) {
            font-size: 14px;
            color: #0000009A;
        }
    }   
}
.nav-link {
    &--active {
        color: $secondary;
    }
    &:hover {
        color: $secondary;
    }
}
.main-layout {
    right: 0;
    width: calc(100% - 300px);
}