.admin {
    &-header {
        margin-top: 26px;
        margin-bottom: 32px;     
    }
    &-navbar {
        &-btn {
            .material-icons {
                color: $secondary;
            }
        }
        &-nav {
        .material-icons:nth-last-child(1){
            margin-left: 26px;
        }
    }
        

    }
}