.admin {
    &-header {
        margin-top: 26px;
        margin-bottom: 32px;  
        &-navbar-btn {            
            .material-icons {
                color: $secondary;
            }

        }   
    }
    &-navbar {
        
        &-nav {
        .material-icons:nth-last-child(1){
            margin-left: 26px;
        }
    }        
    }
}


.table tbody tr:hover td, .table tbody tr:hover th {
    background-color:  $primary01;
}

.admin-main-id {
    
    .material-icons {
        font-style: 12px;
        color: $secondary;
    }

}