.text {
    &-primary01 {
		color: $primary01;
	}
	&-danger {
		color: $danger;
    }
    &-secondary {
		color: $secondary;
	}
	&-light{
		color: $light;
	}
	&-white {
		color: $white;
	}
}

.bg {
	&-primary01 {
		background-color: $primary01;
    }
    &-secondary {
		background-color: $secondary;
	}
	&-light{
		background-color: $light;
	}
	&-danger {
		background-color: $danger;
	}
	&-black {
		background-color: $black;
	}
}

.active {
	color: #121212;
}