// max-width = 列寬*12(列)+間隔*11
// max-width 的單位不要用 %
.container {
	max-width: 918px;
	margin: 0 auto;
}

$spacer: 16px;

$spacers: (
	"1": $spacer,
	"2": $spacer * 1.5,
	"3": $spacer * 2,
	"4": $spacer * 2.5,
	"5": $spacer * 3,
	"6": $spacer * 3.75,
	"7": $spacer * 4,
	"8": $spacer * 5
);

@each $i, $val in $spacers {
	.m {
		&l-#{$i} {
			margin-left: $val;
			@include breakpoint(pad) {
				&-md {
					margin-left: $val*0.5;
				}
			}
			@include breakpoint(phone) {
				&-sm {
					margin-left: $val*0.25;
				}
			}
		}
		&r-#{$i} {
			margin-right: $val;
		}
		&b-#{$i} {
			margin-bottom: $val;
		}
		&t-#{$i} {
			margin-top: $val;
		}
    }
}


$properties: (
	
  "pt": padding-top,
  "pb": padding-bottom,
  "pl": padding-left, 
  "pr": padding-right,
);
@each $property, $property-value in $properties {
  @for $i from 1 through 10 {
    .#{$property}-#{$i} {
      #{$property-value}: #{$i}px*8;
    }
  }
}

